<div class="cube">
    <img class="cube" src="{{imgURL}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span>{{level}}</p>
    <a class="btn" href="/details/{{cubeId}}">Details</a>
</div>